/* body {
  height: 100vh;
  width: 100vw;
  background-color: mediumturquoise;
} */


.App {
  height: 600vh;
  width: 100vw;
  background-color: olive;
  display: inline-flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  position: relative;
}

.header-section{
  display:flex;
  position: relative;
  width: 100vw;
  height: 30vh;
}

header {
  width: 75%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  background-color: rgb(36, 34, 34);
  color: gold;
  padding-left: 15px;
  font-family: Cursive;
  font-style: italic;

}

nav {
  height: 50%;
  width: 25%;
  display: flex;
  align-items: center;
  float: left;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgb(36, 34, 34);
  
}

.menu-button {
  height: 50px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: gold;
  color: white;
}

.welcome-section{
  position: relative;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -110px;
  font-size: 40px;
  background-image: url('https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg');background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.welcome-items{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.more-button{
  background-color: gold;
  color: white;
  height: 75px;
  width: 250px;
  margin-top: 50px;
}

.welcome-studio{
  font-size: 40px;
  font-style: italic;
}

p {
  margin-top: 50px;;
}

rect{
  color: white;
  background-color: white;;
}

.closed {
  display: none;
}


@-webkit-keyframes nav-anim-top {
  0% { top: 0%; }
  100% { bottom: 0%; }
}
 
@-moz-keyframes nav-anim-top {
  0% { top: 0%; }
  100% { bottom: 0%; }
}
 
@-o-keyframes nav-anim-top {
  0% { top: 0%; }
  100% { bottom: 0%; }
}
 
@keyframes nav-anim-top {
  0% { top: 0%; }
  100% { bottom: 0%; }
}



ul{
  height: 20vh;
  width: 100vw;
  top: 110px;
  font-size: 20px;
  text-align: left;
  animation-name: nav-anim-top;
  animation-duration: 1.5s;
  position: relative;
  background-color: rgb(36, 34, 34);
  color: white;
  float: left;
  margin-left: -300%;
  z-index: 1;
}

li{
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
  background-color: rgb(36, 34, 34);
  color: white;
}

@media (min-width: 481px){
  header{
    background-color: rgb(36, 34, 34);
  }
}

@media (min-width: 767px){
  header{
    background-color: rgb(36, 34, 34);
  }

  .welcome-section{
    height: 90vh;
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  
  .header{
    width: 25%;
    height: 50%;
    display: flex;
  }

  .nav {
    height: 50%;
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .menu-button{
    display: none;
  }

  .ul{
    position: absolute;
    display: flex;
    flex-direction: row;
    color: white;
    z-index: 2;
  }

  .closed{
    position: absolute;
    display: flex;
    justify-content: left;
    margin-right: 360px;
    padding-right: 10px;
    content: contain;
    align-items: center;
    margin-left: 10px;
    margin-top: -80px;
    height: 40px;
    width: 50vw;
  }

  .nav-item{
    margin-right: 10px;
  }

}